.new-product {
  margin-top: 0.625rem;
  padding: 3.25rem 0 1.4rem;
  position: relative;
}

.new-product__image img {
  width: 100%;
}

.new-product::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 36px;
  background-image: url(../images/label-new.svg);
}
